@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  cursor: url(./assets/Dragon_scimitar.webp), auto;
} */

@font-face {
  font-family: 'OSRS';
  src: url(../public/fonts/runescape_uf.ttf);
}